html,body{padding:0;margin: 0;}
    a {text-decoration: none;}
    .head-tool{
        height: 35px;
        background: #171F2A;
        _position: relative;
        _z-index: 105;
        position: relative;
        z-index: 150;
        min-width: 1000px;
    }
    .head-v3 {
        position: relative;
        z-index: 100;
        min-width: 1000px;
    }
    .navigation-up {
        height: 60px;
        background: #27303f;
    }
    .body {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .bg_body {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 820px;
        background: url(../img/bg_login.jpg) no-repeat center 0;
    }
    .login_wrapper {
        width: 1000px;
        margin: 0 auto;
        padding-top: 25px;
        position: relative;
        height: 720px;
        _height: 640px;
        margin-top: 10px;
    }
    .login_text{
        position: absolute;
        width: 550px;
        height: 374px;
        overflow: hidden;
        background: url(../img/login_text.png) no-repeat center top;
    }
    .login_text1 {
        top: 65px;
        height: 187px;
        background-position: 0 0;
        -webkit-animation: text-show 3s 1;
    }
    .login_text2 {
        top: 249px;
        height: 180px;
        background-position: 0 -187px;
        -webkit-animation: text-show 3s 1;
    }
    .mod_login_wrapper {
        position: relative;
        float: right;
        top: 10px;
    }
    .mod_login {
        position: relative;
        width: 418px;
        height: 315px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.6);
        margin-top: -3px;
    }
    .header {
        height: 50px;
        border-bottom: 1px solid #e2e2e2;
        position: relative;
        font-family: "å¾®è½¯éé»";
    }
    .header .switch {
        height: 45px;
        position: absolute;
        left: 60px;
        bottom: 0;
        font-size: 16px;
    }
    .header .switch .switch_btn_focus {
        color: #333;
        display: inline-block;
        height: 45px;
        line-height: 45px;
        outline: 0;
        cursor: default;
    }
    .inputstyle {
        width: 258px;
        height: 18px;
        padding: 11px 0 11px 10px;
        line-height: 18px;
        border: 1px solid #ccc;
        background: 0;
        background: url(about:blank)\0;
        color: #333;
        font-family: Verdana,Tahoma,Arial;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .login_button{
        width: 115px;
        height: 35px;
        line-height: 35px;
        border: 0;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        background: #69BD69;
    }
    .footer-menu {
        background: #171f2a;
        padding: 15px 0;
        min-width: 1000px;
    }